*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-size: 1px;
    height: 100%;
    @include tablet-992 {
        font-size: 0.7px;
    }
}
.wrapper {
    max-width: 1920rem;
    margin-inline: auto;
    height: 100%;    
    color: $color-text;
}
.container {
    max-width: 1440rem;
    padding: 0 15rem;
    margin-inline: auto;
    @include tablet-992 {
        padding: 0 24rem;
    }
}
body {
    font-family: $ff;
    font-size: 10rem;   
    height: 100%;    
    margin: 0;
    overflow-x: hidden;
    background: #131215;
}
.overflow-y-hidden {
	overflow-y: hidden;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0; 
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
ul {
    list-style: none;
}
button {
    padding: 0;
  }
.title {
    @include text($ff, 50rem, 56rem, 700, $color-primary);
    margin-bottom: 50rem;
    @include tablet-992{        
        margin-bottom: 35rem;
    }
}
h3 {
    @include text($ff, 32rem, 32rem, 700, $color-text);
    margin-bottom: 30rem;
    
}
.desc {
    @include text($ff, 16rem, 19rem, 500, $color-grey);
}
section {
    padding: 80rem 0;
    @include tablet-992 {
        padding: 40rem 0;
    }
}
// КАСТОМИЗИРОВАТЬ СКРОЛ
*::-webkit-scrollbar {
    width: 10rem;
    height: 10rem;
}
*::-webkit-scrollbar-thumb {
    border-radius: 16rem;
    height: 10px;
    width: 8rem;
    background-color: rgba($color-primary, $alpha: 0.9);    
}