$ff: 'Rubik', sans-serif;
$ff-titles: 'Playfair Display', serif;

$color-black: #000;
$color-white: #fff;
$color-grey: #2c2b2b;
$color-primary: #1f9783;
$color-text: #f2f2f2;
$main-bg: #041016;
$card-bg: #0E1320;


$transition: .2s all ease-in-out;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;


$backgroundColor: #e5eef3;
$hoverColor: #fff;
$facebook: #3B5998;
$linkedin: #0e76a8;
$instagram: linear-gradient(90deg, rgba(121,53,210,1) 0%, rgba(246,64,218,1) 26%, rgba(238,199,54,1) 100%);;
$github: #000000;


