$ff: 'Rubik', sans-serif;
$ff-titles: 'Playfair Display', serif;

$color-black: #000;
$color-white: #fff;


$color-black: #000;
$color-white: #fff;
$color-primary: #1f9783;
$color-text: #f2f2f2;
$main-bg: #041016;
$bg-add: #0F1421;
$color-icons: #502D5D;
$border: rgba(147, 138, 152, 0.6);
$color-grey: #2D2B2E;
$burger-links: #E6D3E9;
$card-border: #181D21;
$card-bg: #0E1320;
$color-grey-light: #858585;
$copyright: #321E3C;

$transition: .2s all ease-in-out;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;


$backgroundColor: #e5eef3;
$buttonColor: $color-primary;

$hoverColor: #fff;
$facebook: #3B5998;
$linkedin: #0e76a8;
$instagram: linear-gradient(90deg, rgba(121,53,210,1) 0%, rgba(246,64,218,1) 26%, rgba(238,199,54,1) 100%);;
$github: #000000;


