
@include tablet-small-768 {
    .header__ul {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background: $main-bg;
        left: 0;
        top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        transform: translateX(-120%);
        transition: $transition;
        z-index: 9999;
        opacity: 1;
    }
    .header__ul.active {
        transform: translateY(0%);
        z-index: 99;
        justify-content: center;
        gap: 50rem;        
    }
    .header__ul .material-symbols-outlined {
        display: inline-block;
        position: fixed;
        top: 40px;
        right: 40px;
        color: $color-white;
    }
    .header__ul.active #background {
        font-size: 40rem;
        // border: 3rem solid $color-text;
        // padding: 15rem 25rem;
        // border-radius: 8rem;
        
    }
    .header__ul.active .header__li a {
        color: $color-text;
        font-size: 24px;
     }
    

}
