.about-section {
    background: $color-primary;
    padding: 80rem 0;    
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);        
        column-gap: 40rem;
        row-gap: 50rem;    
    }
    &__title {
        color: $color-text;
        margin-bottom: 30rem
    }
    &__desc {
        max-width: 550rem;
        font-size: 18rem; 
        line-height: 26rem;       
    }
    &__skills {        
        ul li {
        margin-bottom: 21px;            
        position: relative;
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
    
    &::before {
        content: url('../img/icons/list-item.svg');
        display: block;
        transform: rotate(90deg);
        width: 10px;
        height: 12px; 
        margin-right: 15px;
        svg {
            fill: $color-text;  
        }
    }
        }
    }
    &__personal {
    }
}
.edu {    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20rem;
    &__title {        
        align-self: flex-start;
        margin-bottom: 15rem;
    }

    &__item {
        padding: 25rem;
        border: 2rem solid $color-grey;
        width: 100%;
        border-radius: 5rem;
    }
    &__header {
        @include text($ff, 18rem, 24rem, 700, $color-text);
        text-shadow: 2rem 1rem $color-grey;
    }
    &__years {
        color: $color-grey;
        margin-bottom: 10rem;
    }
}
.personal {
    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70rem;
    }
    &__title {
        text-align: center;
    }
    &__desc {
        max-width: 300rem;
    }
    &__img {
        max-width: 150rem;
        // background-color: grey;
        border: 3rem solid $color-text;
        border-radius: 8rem;
    }

}
.desc {
}

