.footer {
    padding: 20rem 0 30rem 0;
    background: $bg-add;
    &__container {
        @include flex-between;
    }

    &__copyright {
        @include text($ff, 14rem, 16rem, 400, rgba(255,255,255,0.5));
    }

    &__nav {
        position: relative;        
    }

    &__contact {
        margin-bottom: 10rem;
        span {
            right:-10%; 
            @include tablet-992 {
                right:-45%;  
            }           
        }
    }
    &__ul {
        display: flex;
    align-items: center;
    
    gap: 20rem;
        a {
            @include text($ff, 14rem, 16rem, 400, $color-text);
            transition: $transition;
            &:hover {
              color: $color-primary;
            }
            &:after {
              content: "";
              background-color: $color-primary;
              display: block;
              height: 2px;
              width: 0%;
              position: relative;
              top: 2px;
              -webkit-transition: width .3s ease-in-out;
              -moz--transition: width .3s ease-in-out;
              transition: width .3s ease-in-out;
            }
            &:hover:after, &:focus:after {
              width: 100%;
            }      
          }
    }
}

.contact {

    &__nav {
    }
}

