.header {
  border-bottom: 1rem solid $color-text;
  &__container {
    @include flex-between;    
    padding: 24rem 15rem;
    position: relative;
  }
  &__left {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20rem;
  }   
  &__ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40rem;
    a {
      @include text($ff, 16rem, 19rem, 400, $color-text);
      transition: $transition;
      &:hover {
        color: $color-primary;
      }
      &:after {
        content: "";
        background-color: $color-primary;
        display: block;
        height: 2px;
        width: 0%;
        position: relative;
        top: 2px;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
      }
      &:hover:after, &:focus:after {
        width: 100%;
      }      
    }
  }
 
  &__close {
    display: none;
  }
  &__burger {
    display: none;
		@include tablet-small-768 {
			display: inline-block;
		}
  }
  &__hire {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  }
}
.contact {  
  width: 250rem;
  border-radius: 8rem;
  a {
    color: $color-text;
  }
  span { 
    @include text($ff, 16rem, 35rem, 400, $color-text);
    display: inline-block;    
    text-transform: uppercase;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);   
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
  }
  &__nav {
    font-size: 0;
  }
  a {
    line-height: 35rem;
    width: 35rem;     
    text-align: center;
    display: inline-block;
    background-color: $color-primary;
    color: $color-primary;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3s ease-in-out;    
    box-shadow: 3rem 1rem 3rem rgba(0, 0, 0, 0.1);
    &:nth-child(1) {
      border-top-left-radius: 8rem;
      border-bottom-left-radius: 8rem;
      margin-left: 0;
      &:hover {
        background-color: $linkedin;
      }
    }
    &:nth-child(2):hover {
      background-color: $facebook;
    }
    &:nth-child(3):hover {
      background: $instagram;
    }
    &:nth-child(4){
      border-top-right-radius: 8rem;
      border-bottom-right-radius: 8rem;
      margin-right: 0;
      &:hover {
        background-color: $github;
        outline: 0.5rem solid $color-text;
      }
    }
  }
  &:hover, &.hover {
    span {
      opacity: 0;
    }
    a {
      border-radius: 50%;
      margin: 0 10rem;
      color: $color-text;
      font-size: 16rem;
      &:hover {
        color: $color-text;
      }
    }
  }
}
.btnContainer {
  width: 70px;
  height: 30px;
  position: relative;
}

.btnL {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #3c3459;
  border-radius: 999px;
  padding: 10px;
  cursor: pointer;
}

.knob {
  width: 15px;
  height: 15px;
  position: relative;
}

.top {
  background-color: #827d96;
  border-radius: 999px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.light {
  border-radius: 999px;
  position: absolute;
  width: 100px;
  height: 100px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #4cc3e2 10.42%,
    rgba(94, 199, 227, 0.791579) 27.08%,
    rgba(113, 204, 229, 0.35) 45.31%,
    rgba(144, 213, 231, 0.11) 65.1%,
    rgba(158, 216, 231, 0.02) 78.12%,
    rgba(177, 221, 233, 0) 95.83%
  );
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  visibility: hidden;
}

.no-highlight {
  /* bad for accessibility - please don't use this in real world applications */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



