.header {
  border-bottom: 1rem solid $color-text;
  &__container {
    @include flex-between;    
    padding: 32rem 0;

  }

 
  &__ul {
    @include flex-between;
    gap: 40rem;
  }

  &__li {
  }

  &__burger {
    display: none;
		@include tablet-992 {
			display: inline-block;
		}
  }

  &__logo {
    @include text($ff, 16rem, 19rem, 400, $color-text);
  }
}



