.header {
  border-bottom: 2rem solid $color-text;
  &__container {
    @include flex-between;    
    padding: 24rem 15rem;
    position: relative;
  }
  &__left {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20rem;
  }   
  &__ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40rem;
    a {
      @include text($ff, 16rem, 19rem, 400, $color-text);
      transition: $transition;
      &:hover {
        color: $color-primary;
      }
      &:after {
        content: "";
        background-color: $color-primary;
        display: block;
        height: 2px;
        width: 0%;
        position: relative;
        top: 2px;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
      }
      &:hover:after, &:focus:after {
        width: 100%;
      }      
    }
  }
 
  &__close {
    display: none;
  }
  &__burger {
    display: none;
		@include tablet-small-768 {
			display: inline-block;
		}
  }
  &__hire {
    a {
      
      @include text($ff, 50rem, 56rem, 700, $color-primary);
      background: linear-gradient(44.11deg, #CD10FF 15.75%, #9F06FF 84.63%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

    }
  
  }
}
.contact {  
  width: 250rem;
  border-radius: 8rem;
  a {
    color: $color-text;
  }
  span { 
    @include text($ff, 16rem, 35rem, 400, $color-text);
    display: inline-block;    
    text-transform: uppercase;
    position: absolute;
    left: 50%; 
    transform: translateX(-65%);   
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
  }
  &__nav {
    font-size: 0;
  }
  a {
    line-height: 35rem;
    width: 35rem;     
    text-align: center;
    display: inline-block;
    background-color: $color-primary;
    color: $color-primary;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3s ease-in-out;    
    box-shadow: 3rem 1rem 3rem rgba(0, 0, 0, 0.1);
    &:nth-child(1) {
      border-top-left-radius: 8rem;
      border-bottom-left-radius: 8rem;
      margin-left: 0;
      &:hover {
        background-color: $linkedin;
      }
    }
    &:nth-child(2):hover {
      background-color: $facebook;
    }
    &:nth-child(3):hover {
      background: $instagram;
    }
    &:nth-child(4){
      border-top-right-radius: 8rem;
      border-bottom-right-radius: 8rem;
      margin-right: 0;
      &:hover {
        background-color: $github;
        outline: 0.5rem solid $color-text;
      }
    }
  }
  &:hover, &.hover {
    span {
      opacity: 0;
    }
    a {
      border-radius: 50%;
      margin: 0 10rem;
      color: $color-text;
      font-size: 16rem;
      &:hover {
        color: $color-text;
      }
    }
  }
}




.shine, .chrome {
	font-size: 3em;
	margin: 0 auto;
	margin-bottom: 1em;
	font-weight: bold;
}
.shine {
	background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
	-webkit-background-size: 150px;
	color: $text-color;
	-webkit-background-clip: text;
	-webkit-animation-name: shine;
	-webkit-animation-duration: $duration;
	-webkit-animation-iteration-count: infinite;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

.chrome {
	background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
	background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
	-webkit-background-size: 200px;
	color: $text-color;
	-webkit-background-clip: text;
	-webkit-animation-name: shine;
	-webkit-animation-duration: $duration;
	-webkit-animation-iteration-count: infinite;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes shine {
	0%, 10% {
		background-position: -1000px;
	}
	20% {
		background-position: top left;
	}
	90% {
		background-position: top right;
	}
	100% {
		background-position: 1000px;
	}
}



