
.main-section {
    &__container {
        @include flex-between;        
        gap: 50rem; 
    }
    
    &__image {
        max-width: 500rem;
    }
    &__title {
        @include text($ff-titles, 24rem, 28rem, 700, $color-text);
        text-align: center;
        span {
            display: block;
            font-size: 54rem;
            line-height: 60rem;
        }
    }

    
}
