.projects-section {
    padding: 80px 15px;
	&__item {
        max-width: 435rem;
        margin: 3rem;
        padding: 16rem;
        background: rgba($color-primary, $alpha: 0.3);
        border-radius: 8rem;            
        display: flex;        
        flex-direction: column;        
        transition: $transition; 
        &:hover {
            box-shadow: 0rem 0rem 10rem $color-white;           
        }
        img {
            border-radius: 8rem;
        }          
	}
}

